%tr
  %td.email-logo{align: "center", valign: "middle"}
    %img.reset-password.center{alt: "Logo", src: "https://newsmast-assets.s3.eu-west-2.amazonaws.com/reset-password.png", alt: "Icon"}/

%tr
  %td.email-title{align: "center", valign: "middle"}
    %img{src: "https://newsmast-assets.s3.eu-west-2.amazonaws.com/right-arrow.png", alt: "Rigth Arrow"}
    %span Reset Password

%tr.text
  %td{align: "center", valign: "middle"}
    %div
      = "Dear, #{@user.account.display_name.presence || @user.account.username}"
    
    %div
      You requested a password reset for your account.

    
    #code
      = @user.otp_code
    
    .note
      If you didn't request this, please ignore this email.
      %br
      Your password won't change until you verify your email with the above OTP and update the password.
